.AuthForm {
  max-width: 80vw;
  margin: auto;
}

.AuthForm input {
  display: block;
  width: 100%;
}

.u-error {
  padding: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #cc7a6f;
}

@media screen and (min-width: 64em) {
  .AuthForm {
    max-width: 50vw;
  }
}
